#result-box {
    padding: 10px;
    border: #d9c9c9 1px solid;
    background-color: #88ea89;
    text-align: right;
    border-radius: 2px;
    box-shadow: inset 0px 0px 9px rgba(0,0,0,0.3);
    #inputs {
        font-size: 0.6em;
    }
}